@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?82h6f0');
    src:    url('fonts/icomoon.eot?82h6f0#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?82h6f0') format('truetype'),
        url('fonts/icomoon.woff?82h6f0') format('woff'),
        url('fonts/icomoon.svg?82h6f0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
    content: "\e90f";
}
.icon-retweet:before {
    content: "\e900";
}
.icon-tweet:before {
    content: "\e901";
}
.icon-twitter-o:before {
    content: "\e902";
}
.icon-back:before {
    content: "\e903";
}
.icon-quill:before {
    content: "\e904";
}
.icon-pen:before {
    content: "\e905";
}
.icon-equalizer:before {
    content: "\e906";
}
.icon-equalizer2:before {
    content: "\e907";
}
.icon-cog:before {
    content: "\e908";
}
.icon-cogs:before {
    content: "\e909";
}
.icon-fire:before {
    content: "\e90a";
}
.icon-lab:before {
    content: "\e90b";
}
.icon-heart:before {
    content: "\e90c";
}
.icon-filter:before {
    content: "\e90d";
}

