@keyframes fadeInZoom
  from
    opacity 0
    transform translate3d(-2%, 0, 0) scale3d(0, 0, 1)
  
  to
    opacity 1
    transform none

@keyframes fadeInLeft 
  from 
    opacity 0
    transform translate3d(-2%, 0, 0)
  
  to
    opacity 1
    transform none

@keyframes fadeInMenu
  from
    opacity 0
    width 0

  to
    opacity 1
    width 220px

@keyframes fadeIn
  from
    opacity 0
    width 0

  to
    opacity 1
    width 220px