$black = #111
$grey-darker = #222324
$grey-dark = #69707a
$grey = #aeb1b5
$grey-light = #d3d6db
$grey-lighter = #f5f7fa
$white = #fff
$blue = #42afe3
$green = #97cd76
$orange = #f68b39
$purple = #847bb9
$red = #ed6c63
$turquoise = #1fc8db
$yellow = #fce473
$navy = #233749
$navy-drak = #203446
$navy-light = #4f5f6d
$emerald = #1cc09f
$emerald-dark = #1ab394