html, body, #tsukiakari
  margin 0
  padding 0
  height 100%
  width 100%
  // overflow-x scroll
  overflow-x hidden
  overflow-y hidden
  background #F3F3F4

.container
  height 100%
  width 100%
  display -webkit-flex
  min-height 100%


