html, body, #tsukiakari
  margin 0
  padding 0
  height 100%
  overflow hidden


.logo
  width 180px
  height auto
  margin 30px auto
  display block
  
.container
  height 100%
  display -webkit-flex
  display -moz-flex
  display -ms-flex
  display -o-flex
  display flex
  background #F3F3F4
  min-height 100%

.sidemenu
  min-height 100%
  width 220px
  background #2F4050

