html, body, #tsukiakari
  margin 0
  padding 0
  height 100%
  overflow hidden


.logo
  width 180px
  height auto
  margin 0px auto
  display block
  padding-right 10px

.logo_wrapper
  width 100%
  padding 20px 0 30px 0
  background #233749

.container
  height 100%
  display -webkit-flex
  background #F3F3F4
  min-height 100%

.button--newtweet
  background #1ab394
  height 48px
  color #f5f5f5
  font-size 20px

  padding 0 0 0 30px

.button--newtweet > i
  display block
  margin 14px 0 0 0
  float left

.button--newtweet > span
  padding 0 20px 0 10px
  font-size 16px
  line-height 48px

.sidemenu
  min-height 100%
  min-width 220px
  background #2F4050

