@import "~font-awesome/css/font-awesome.css";
@import "~semantic-ui-css/components/icon.min.css";

html,
body {
  position: relative;
  color: #333;
  height: 100vh;
  font-family: Helvetica Neue, Meiryo, メイリオ, Arial, serif;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

body .titlebar {
  background: #202040;
  height: 24px;
  -webkit-app-region: drag;
}

