.account-selector
  padding 20px 20px 10px 20px
  // border-bottom solid 1px #e7eaec
  // background #e7eaec

  &__accounts
    display flex
    flex-flow row wrap
    padding 10px 0 0 10px

  &__avatar
    cursor pointer
    width 32px
    height auto
    margin 10px
    border-radius 5px

  &__title-wrapper
    padding 0 0 0 12px
    font-size 1.4rem

  &__title
    padding 0 0 14px 8px

  &__buttons
    padding 20px 0 14px 8px

  &__button--back
    color red
