.account-selector
  padding 14px 20px 10px 6px
  // border-bottom solid 1px #e7eaec
  // background #e7eaec
  // background-color #fafafa
  border-bottom solid 1px #eee
  animation-duration 0.3s
  animation-fill-mode both  
  animation-name fadeIn
  
  &__accounts
    display flex
    flex-flow row wrap
    padding 6px 0 0 10px

  &__avatar
    cursor pointer
    width 32px
    height auto
    margin 10px
    border-radius 5px
    border solid 2px rgba(0,0,0,0)
    opacity 0.3
    transition all 0.1s

    &:hover
      border solid 2px #f0f0f0
      opacity 1

  &__title-wrapper
    padding 0 0 0 6px
    font-size 1.4rem
    color $navy

  &__icon
    font-size 1.4rem

  &__title
    padding 0 0 14px 8px
    font-size 1.4rem

  &__buttons
    padding 6px 0 14px 12px

  &__button--back
    color $navy-light
