.account-selector
  padding 20px 20px 10px 20px
  // border-bottom solid 1px #e7eaec
  // background #e7eaec

.account-selector__accounts
  display flex
  flex-flow row wrap
  padding 10px 0 0 10px

.account-selector__avatar
  cursor pointer
  width 32px
  height auto
  margin 10px
  border-radius 5px

.account-selector__title-wrapper
  padding 0 0 0 12px
  font-size 1.4rem

.account-selector__title
  padding 0 0 14px 8px