.add-column-menu-timeline
  padding 8px
  height 100%
  animation-duration 0.3s
  animation-fill-mode both  
  animation-name fadeIn

  &__infinite
    height calc(100% - 240px)
    overflow-y scroll
    overflow-x hidden

    &::-webkit-scrollbar
      width 5px
      height 5px

    &::-webkit-scrollbar-thumb
      background #34495E
      border-radius 2px

  &__title
    padding 8px 0 8px 12px
    font-size 1.4rem
    color $navy


