.add-column-search-form
  padding 12px 24px 24px 32px
  background-color #fafafa
  border-bottom solid 1px #eee

  &__title-wrapper
    padding 0 0 10px 0px
    font-size 1.4rem

  &__title
    padding 0 0 8px 2px
    color #666

  &__button-wrapper
    padding 10px 0 0 0