.add-column-search-form
  padding 14px 8px 16px 18px
  // background-color #fafafa
  border-bottom solid 1px #eee
  animation-duration 0.3s
  animation-fill-mode both  
  animation-name fadeIn

  &__title-wrapper
    padding 0 0 10px 0px
    font-size 1.4rem

  &__title
    padding 8px 0 8px 0
    color $navy

  &__button-wrapper
    padding 10px 0 0 0

  &__form
    padding 0 0 4px

    & input.__re-bulma_input
      width 230px
      min-width 230px
      border solid 1px $navy-light
      box-shadow none

    & .__re-bulma_control .__re-bulma_has-addons input.__re-bulma_input
      border-radius 1px

    & button.__re-bulma_button
      background $navy-light
      width 60px
      border-radius 1px


      &:focus, &:hover
        background $navy
        border-radius none
