.add-column-menu
  position absolute
  z-index 9999
  background #fff
  height 100%
  min-height 100%
  width 320px
  top 0
  left 100%
  transition margin 0.3s ease-out
  border-left solid 1px #e7eaec

.add-column-menu--is-open
  margin 0 0 0 -310px
  transition margin 0.3s ease-out

.add-column-menu__header
  border-bottom solid 1px #e7eaec
  border-top solid 3px #e7eaec
  height 60px
  width 100%
  position relative

.add-column-menu__icon--header
  font-size 20px
  padding 2px 0 0 30px
  position absolute
  top 20px

.add-column-menu__title
  font-size 14px
  padding 0 0 0 60px
  line-height 67px

.add-column-menu__icon--close
  font-size 16px
  position absolute
  top 16px
  right 30px
  cursor pointer
