.add-column-menu
  position absolute
  z-index 9999
  background #fff
  height 100%
  min-height 100%
  width 300px
  top 0
  left 100%
  transition margin 0.3s ease-out
  border-left solid 1px #e7eaec

.add-column-menu--is-open
  margin 0 0 0 -300px
  transition margin 0.3s ease-out
