.add-column-menu
  position absolute
  z-index 100
  background #fff
  height 100%
  min-height 100%
  width 260px
  top 0
  left 100%
  transform translate3d(0, 0, 0)
  transition transform 0.15s ease-out
  border-left solid 1px #e7eaec
  box-shadow 0 6px 12px rgba(0,0,0,0.075)

  &--is-open
    transform translate3d(-260px, 0, 0)
    transition transform 0.15s ease-out

  &__header
    border-bottom solid 1px #e7eaec
    height 48px
    width 100%
    position relative

  &__icon--header
    font-size 20px
    padding 2px 0 0 30px
    position absolute
    top 20px

  &__title
    font-size 14px
    // padding 0 0 0 60px
    padding 0 0 0 32px
    line-height 48px

  &__icon--close
    font-size 16px
    position absolute
    top 12px
    right 16px
    cursor pointer
    padding 5px
    border-radius 50%

    &:hover
      background #f0f0f0      

@import 'add-column-search-form'

