.column-title
  padding 10px 20px 5px 20px

.column-title__title-wrapper
  padding 10px 0 10px 12px
  font-size 1.4rem

.column-title__title
  padding 0 0 14px 8px

.column-title__input
  margin 5px 0 0 20px
  padding 0 5px
  height 26px
  line-height 26px
  font-size 14px
  width 190px
  border-radius 2px
  border solid 1px #e7eaec
