.column-title
  padding 10px 20px 5px 20px

  &__title-wrapper
    padding 10px 0 10px 12px
    font-size 1.4rem

  &__title
    padding 0 0 14px 8px

  &__input
    margin 5px 0 0 20px
    padding 0 5px
    height 26px
    line-height 26px
    font-size 14px
    width 190px
    border-radius 2px
    border solid 1px #e7eaec
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;

  &__input:focus
    border-bottom: 1px solid #1ab394;