.contents
  min-height 100%
  height 100%
  max-width 100%
  width 100%
  overflow-x scroll
  overflow-y hidden
  position relative
  padding 0 0 0 20px

.contents__sortable-pane
  min-height 100%
  height 100%
  width 100%

.contents__pane
  min-height 100%
