.contents
  min-height 100%
  height 100%
  max-width 100%
  width 100%
  overflow-x scroll
  overflow-y hidden
  position relative
  padding 0 20px 0 20px

  &__sortable-pane
    min-height 100%
    height 100%
    width 100%

  &__pane
    min-height 100%

  &__message--no-contents
    display flex
    height 100%
    align-items center
    justify-content center
    font-size 2.5em
    color #bdc3c7
    cursor pointer
