.item-selector
  padding 10px 20px 10px 20px
  // border-bottom solid 1px #e7eaec
  // background #e7eaec

.item-selector__items
  display flex
  flex-flow row wrap

.item-selector__avatar
  cursor pointer
  width 32px
  height auto
  margin 10px
  border-radius 5px

.item-selector__title-wrapper
  padding 0 0 10px 12px
  font-size 1.4rem

.item-selector__title
  padding 0 0 14px 8px

.item-selector__name
  font-size 1rem
  color #aaa
  margin 0 0 0 10px

.item-selector__ul
  padding 0
  margin 3px 0 0 10px

.item-selector__li
  list-style none
  padding 0
  margin 8px 0 10px 0
  font-size 1.4rem
  padding 8px 20px
  width 160px
  border solid 1px #bdc3c7
  border-radius 5px
  cursor pointer

.item-selector__text
  margin 0 0 0 12px