.item-selector
  padding 10px 20px 10px 20px
  // border-bottom solid 1px #e7eaec
  // background #e7eaec

  &__items
    display flex
    flex-flow row wrap

  &__avatar
    cursor pointer
    width 32px
    height auto
    margin 10px
    border-radius 5px

  &__title-wrapper
    padding 0 0 10px 12px
    font-size 1.4rem

  &__title
    padding 0 0 14px 8px

  &__name
    font-size 1rem
    color #aaa
    margin 0 0 0 10px

  &__ul
    padding 0
    margin 3px 0 0 10px

  &__li
    list-style none
    padding 0
    margin 8px 0 10px 0
    font-size 1.4rem
    padding 8px 20px
    width 160px
    border solid 1px #bdc3c7
    border-radius 5px
    cursor pointer

  &__text
    margin 0 0 0 12px