.sidemenu
  min-height 100%
  min-width 220px
  background #233749
  height 100%

.sidemenu__wrapper
  height calc(100% - 48px)

.sidemenu__logo-wrapper
  width 100%
  padding 0
  background #233749
  border-bottom solid 1px #233749

.sidemenu__logo
  width 160px
  height auto
  margin 0px auto
  display block
  padding-right 50px

.sidemenu__button--newtweet
  background #1cc09f
  height 48px
  color #f5f5f5
  font-size 2rem
  padding 0 0 0 40px

.sidemenu__button--addcolumn
  height 48px
  color #f5f5f5
  font-size 2rem
  padding 0 0 0 20px
  margin 0
  width 80%

.sidemenu__ul
  padding 0 0 20px
  margin 0
  //border-bottom solid 1px #233749

.sidemenu__list
  list-style none
  color #f5f5f5
  padding 4px 0 0 20px

.sidemenu__list:hover
  background #203446

.sidemenu__text--list
  padding 0 20px 0 10px
  font-size 1.6rem
  line-height 36px

.sidemenu__icon
  font-size 1.4rem

.sidemenu__icon.icon-plus
  display block
  margin 14px 0 0 0
  float left

.sidemenu__icon.icon-twitter
  display block
  margin 14px 0 0 0
  float left
  font-size 2rem

.sidemenu__text--newtweet
  padding 0 20px 0 10px
  font-size 1.5rem
  line-height 48px



