.sidemenu
  min-height 100%
  width 220px
  background #233749
  height 100%
  transition width 0.1s

  // @media screen and (max-width: 640px)
  // display none

  &__wrapper
    height calc(100% - 58px)

  &__logo-wrapper
    width 100%
    padding 0
    background #233749
    border-bottom solid 1px #233749

  &__logo
    width 150px
    height auto
    margin 10px 6px 4px  
    display block
    padding-right 50px

  &__button--newtweet
    background #1cc09f
    height 48px
    color #f5f5f5
    font-size 1.8rem
    padding 0 0 0 40px
    cursor pointer
    transition opacity 0.1s
    user-select none

    &:hover
      opacity 0.8

  &__button--addcolumn
    height 40px
    color #f5f5f5
    font-size 1.1rem
    padding 0 0 0 10px
    margin 0 0 0 10px
    width 200px
    line-height 42px
    border-radius 2px 0 0 2px
    transition all 0.1s
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    -ms-user-select none

    &:hover
      background #2C3E50

  &__ul
    padding 0 0 20px
    margin 0
    //border-bottom solid 1px #233749

  &__list
    list-style none
    color #f5f5f5
    padding 4px 0 0 20px
    user-select none

  //&__list:hover
    //background #203446

  &__text--list
    padding 0 0 0 10px
    font-size 1.3rem
    line-height 26px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

  &__text--name
    padding 0 0 0 10px
    font-size 0.9rem
    line-height 36px
    color #7F8C8D

  &__text--add
    padding 0 20px 0 10px
    font-size 1.2rem
    line-height 36px

  &__icon
    font-size 1.4rem

  &__icon--add
    font-size 1.4rem
    display block

  &__icon.icon-plus
    display block
    margin 14px 0 0 0
    float left
    cursor pointer

  &__icon.icon-twitter
    display block
    margin 14px 0 0 0
    float left
    font-size 2rem

  &__text--newtweet
    padding 0 20px 0 10px
    font-size 1.5rem
    line-height 48px
    user-select none
    -moz-user-select none
    -webkit-user-select none
    -ms-user-select none

  &__menu-icon
    color #fff
    position absolute
    top 24px
    left 226px
    font-size 13px
    padding 6px 8px
    // background #1F2F44
    cursor pointer
    border-radius 5px
    transition background 0.1s

    // &:hover
    //  background #1cc09f



