.timeline-box
  min-height calc(100% - 40px)
  height calc(100% - 40px)
  background #fff
  width 100%
  min-width 320px
  margin 10px 0 0 0
  border-color #e7eaec
  border-style solid
  border-width 1px 0 0
  cursor move
  border-radius 3px

.timeline-box__wrapper--title
  border-bottom 1px solid #e7eaec
  padding 10px

.timeline-box__title
  font-size 1.4rem
  font-weight bold
  display inline-block
  width calc(100% - 60px)
  padding 0 0 0 6px

.timeline-box__username
  font-size 1.0rem
  font-weight normal
  color #95A5A6
  margin 0 0 0 10px

.timeline-box__icon
  font-size 1.4rem
  margin 0 0 0 10px
  cursor pointer

.timeline-box__icon--title
  margin 0 10px 0 0
  cursor pointer

.timeline-box__icon.icon-wrench
  font-size 1.6rem
  margin 0 0 0 10px
  