.timeline
  min-height calc(100% - 40px)
  height calc(100% - 40px)
  background #fff
  padding 5px 5px 15px 2px
  overflow-y hidden
  cursor default

for id in 0 ... 20
  .timeline__infinitepane{id}::-webkit-scrollbar
    width 5px
    height 5px

  .timeline__infinitepane{id}::-webkit-scrollbar-thumb
    background #34495E
    border-radius 2px

