.timeline
  min-height calc(100% - 40px)
  height calc(100% - 40px)
  background #fff
  padding 5px 0 5px 2px
  cursor default

.timeline__infinite
  overflow-y scroll
  overflow-x hidden
  height 100%
  margin-right 5px
  -webkit-overflow-scrolling touch
  transform translateZ(0)

.timeline__infinite::-webkit-scrollbar
  width 5px
  height 5px

.timeline__infinite::-webkit-scrollbar-thumb
  background #34495E
  border-radius 2px

.timeline__item--animated
  -webkit-animation-duration 0.2s
  animation-duration 0.2s
  -webkit-animation-fill-mode both
  animation-fill-mode both  
  -webkit-animation-name fadeInLeft
  animation-name fadeInLeft

// TODO: move to anim
@-webkit-keyframes fadeInLeft
  from
    opacity 0
    -webkit-transform translate3d(-2%, 0, 0)
    transform translate3d(-2%, 0, 0)
  
  to 
    opacity 1
    -webkit-transform none
    transform none


@keyframes fadeInLeft 
  from 
    opacity 0
    -webkit-transform translate3d(-2%, 0, 0)
    transform translate3d(-2%, 0, 0)
  
  to
    opacity 1
    -webkit-transform none
    transform none
