.tsukiakari
  transition all 0.2s
  height 100%
  width 100%
  display -webkit-flex
  min-height 100%

  &__menu-wrapper
    animation-duration 0.2s
    animation-fill-mode both  
    animation-name fadeInMenu
    animation-delay: 0.2s;

.tsukiakari--blur
  -webkit-filter blur(5px)
  transition all 0.2s

