.tweetitem-footer
  margin 10px 0 0 0
  position relative

  &__icon-wrapper
    margin 0 20px 0 0
    font-size 1rem
    position relative

  &__icon
    font-size 1.2rem
    margin 0 3px 0 0
    color #95A5A6
    cursor pointer

  &__icon--reply:hover
    color #E67E22

  &__icon--favorite
    &-active, &:hover
      color #E74C3C

  &__icon--retweet
    &-active, &:hover
      color #27AE60

  &__time
    font-size 10px
    color #ccc
    position absolute
    right -5px
    top 3px