.tweet-window-footer
  display flex
  justifyContent flex-end
  padding 6px 0 0 8px

  &__input-wrapper
    width 20px
    margin 0 auto 0 0
    padding 14px 0 0px 0
    position relative

  &__icon
    &--file
      font-size 16px
      color #666
      position absolute
      top 14px
      left 0

  &__input
    width 20px
    height 34px
    cursor pointer
    opacity 0
    position absolute
    top -5px
    left 0
    display block

  &__remain
    width 20px
    padding 16px 0 0 0

  &__button.__re-bulma_button.__re-bulma_is-primary
    margin 6px 16px 0
    width 80px
    display block
    color #fff
    background #1cc09f