.tweet-window-header

  &__title-wrapper
    border-bottom 1px solid #d7dadc
    // border-bottom 1px solid #1ABC9C
    padding 12px 10px 6px 10px
    background #fff
    position relative

  &__title
    font-size 1.4rem
    display inline-block
    width calc(100% - 36px)
    padding 0 0 0 6px
    color $grey-dark
    font-weight bold
    color #2C3E50
    -moz-user-select none
    -webkit-user-select none
    -ms-user-select none

  &__icon
    font-size 1.4rem
    cursor pointer
    margin 10px 6px 0 0
    padding 5px
    border-radius 50%

    &:hover
      background #f0f0f0