.tweetitem
  display -webkit-flex
  padding 5px

.tweetitem__wrapper--avatar
  width 56px

.tweetitem__image--avatar
  width 42px
  height auto
  border-radius 2px
  margin 3px 7px

.tweetitem__username
  color #2C3E50
  font-weight bold

.tweetitem__screenname
  color #95A5A6
  font-size 80%
  margin 0 0 0 10px

.tweetitem__wrapper--text
  width 80%
  padding 0 0 0 10px
  font-size 90%
  color #333
  
