.tweet-window
  background #fff
  border solid 1px #e7eaec

.tweet-window__title-wrapper
  border-bottom 1px solid #e7eaec
  padding 10px

.tweet-window__title
  font-size 1.4rem
  display inline-block
  width calc(100% - 32px)
  padding 0 0 0 6px

.tweet-window__username
  font-size 1.0rem
  font-weight normal
  color #95A5A6
  margin 0 0 0 10px

.tweet-window__icon
  font-size 1.4rem
  cursor pointer
  margin 0 12px 0 0