.tweetitem-footer
  margin 10px 0 0 0

  &__icon-wrapper
    margin 0 20px 0 0
    font-size 1rem
    position relative

  &__icon
    font-size 1.2rem
    margin 0 3px 0 0
    color #95A5A6
    cursor pointer

  &__icon--favorite:hover
    color #E74C3C

  &__icon--favorite-active
      color #E74C3C

