.tweet-window
  background #fff
  border solid 1px #e7eaec
  padding 0 0 40px 10px

.tweet-window__title-wrapper
  border-bottom 1px solid #e7eaec
  padding 10px

.tweet-window__title
  font-size 1.4rem
  display inline-block
  width calc(100% - 32px)
  padding 0 0 0 6px

.tweet-window__username
  font-size 1.0rem
  font-weight normal
  color #95A5A6
  margin 0 0 0 10px

.tweet-window__icon
  font-size 1.4rem
  cursor pointer
  margin 0 12px 0 0

.tweet-window__body
  padding 20px

.tweet-window__item-title
  padding 0 10px
  font-size 1.2rem

.tweet-window__textarea
  width calc(100% - 40px)
  margin 10px 0 0 10px