.tweetitem
  display -webkit-flex
  padding 20px 15px 15px 10px
  border-bottom 1px solid #e7eaec

.tweetitem__wrapper--avatar
  width 42px
  margin 0 15px 0 0

.tweetitem__image--avatar
  width 42px
  height auto
  border-radius 5px

.tweetitem__username
  color #2C3E50
  font-weight bold

.tweetitem__screenname
  color #95A5A6
  font-size 1rem
  margin 0 0 0 10px

.tweetitem__wrapper--text
  width 80%
  padding 0
  font-size 1.3rem
  color #333

.tweetitem__text--tweet
  margin 20px 0 0 0
  color #34495E
  font-size 1.3rem
  
