.tweetitem-footer
  margin 10px 0 0 0

.tweetitem-footer__icon-wrapper
  margin 0 20px 0 0
  font-size 1rem
  position relative

.tweetitem-footer__icon
  font-size 1.2rem
  margin 0 3px 0 0
  color #95A5A6
  cursor pointer

.tweetitem-footer__icon--favorite:hover
  color #E74C3C

.tweetitem-footer__icon--favorited
  color #E74C3C