.tweet-window-header

  &__title-wrapper
    border-bottom 1px solid #e7eaec
    padding 12px 10px 6px 10px
    background #fdfdfd
    position relative

  &__title
    font-size 1.4rem
    display inline-block
    width calc(100% - 36px)
    padding 0 0 0 6px
    color $grey-dark

  &__icon
    font-size 1.4rem
    cursor pointer
    margin 10px 6px 0 0
    padding 5px
    border-radius 50%

    &:hover
      background #f0f0f0