.upload-media
  width calc(100% - 28px)    
  margin -5px 0 5px 0px
  background-color: #fafafa
  padding: 10px 5px 5px 5px
  border-right solid 1px #e7eaec
  border-left solid 1px #e7eaec
  border-bottom solid 1px #e7eaec
  border-radius 0 0 3px 3px

  &__media
    display inline-block
    margin 0 0 0 10px
    height 40px
    width 40px
    background-size cover
    background-position center center
    border-radius 3px
    position relative

  &__button--close
    background #203446
    color #fff
    cursor pointer
    position absolute
    top 0
    left 30px
    padding 3px
    font-size 1.1rem
    border-radius 3px